/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* Global Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
	max-width: 72rem;
	margin-inline: auto;
}

/*** Hide Arrows From Input Number ***/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/*** Common Design ***/
/* Primary Button */
.btn_primary {
  background-color: #ff5959;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.75rem;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s;
}

/* Primary Button Hover */
.btn_primary:hover {
  background-color: #ff4747;
}

/*** Banner Style ***/
/* Banner Image */
.banner_image {
	background-image: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%), url(../images/donation2.jpg);
	background-repeat: no-repeat;
  background-size: cover;
}

/* Banner */
.banner {
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

/* Banner Contents */
.banner_contents {
  text-align: center;
}

/* Banner Title */
.banner_contents > .banner_title {
  font-size: 4rem;
  text-shadow: 2px 2px #000;
}

/* Banner Description */
.banner_contents > .banner_description {
  font-size: 1.2rem;
  margin: 1.25rem 0 1.875rem;
}

/*** Donate Today ***/

/* Donate Section */
.donate_section {
  text-align: center;
  padding: 6.25rem 0;
}

/* Donate Title */
.donate_section > .donate_title {
  font-size: 3rem;
  font-weight: 700;
}

/* Donate Description */
.donate_section > .donate_description {
  font-size: 1.2rem;
  margin: 1.25rem 0 1.875rem;
}

/* Donate Amout Group */
.donate_amount_group {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* Donate Amout */
.donate_amount_group > .donate_amount {
  background-color: #f9f9f9;
  border: 2px solid #dbdbdb;
  padding: 2.5rem 2rem;
  border-radius: 0.25rem;
  cursor: pointer;
	transition: all 0.3s;
}

/* Active Donate Amout */
.donate_amount_group > .donate_amount.active {
  background-color: #ffeded;
  border: 2px solid #ff5959;
}

/* Hover Donate Amout */
.donate_amount_group > .donate_amount:hover {
  background-color: #ffeded;
  border: 2px solid #ff5959;
}

/* Custom Donate Amount */
.custom_donate_amount > input {
  border: 0;
  outline: none;
  border-bottom: 2px solid lightgray;
  padding: 0.75rem;
  text-align: center;
  margin: 3rem 0 2rem;
  font-size: 1.5rem;
  width: 45rem;
}


/*** Donate Plan ***/

/* Donate Plan */
.donate_plan {
  text-align: center;
  padding: 0 0 6.25rem;
}

/* Donate Plan Title */
.donate_plan > .donate_plan_title {
  font-size: 3rem;
  font-weight: 700;
}

/* Donate Description */
.donate_plan > .donate_plan_description {
  font-size: 1.2rem;
  margin: 1.25rem 0 1.875rem;
}

/* Donate Plan Group */
.donate_plan_group {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* Donate Plan */
.donate_plan_group > .donate_plan {
  padding: 3rem 1rem;
}

/* Plan Title */
.donate_plan_group > .donate_plan > .plan_title {
  font-size: 1.5rem;
	margin: 1rem 0;
}

/* Donate Plan 1 */
.donate_plan_group > .plan_1 {
    background-color: #EDF5F6;
}

/* Donate Plan 2 */
.donate_plan_group > .plan_2 {
    background-color: #FFEEEE;
}

/* Donate Plan 3 */
.donate_plan_group > .plan_3 {
    background-color: #FFF4D5;
}


/*** Donate Reason ***/
.donate_reason {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 2rem;
	margin-bottom: 6rem;
}

.donate_reason > .donate_reason_group {
	max-width: 31rem;
}

.donate_reason > .donate_reason_image {
	max-width: 28.5rem;
	border-radius: 0.25rem;
}

.donate_reason_group > .reason_title {
	font-size: 3rem;
	margin-bottom: 2rem;
}

.donate_reason_group > .reason_description {
	font-size: 1rem;
	margin-bottom: 2rem;
}


/*** Get Update ***/
.get_update {
  text-align: center;
  padding: 0 0 6.25rem;
	max-width: 50rem;
	margin-inline: auto;
}

/* Get Update Title */
.get_update > .get_update_title {
  font-size: 3rem;
  font-weight: 700;
}

/* Get Update Description */
.get_update > .get_update_description {
  font-size: 1.2rem;
  margin: 1.25rem 0 1.875rem;
}

/* Get Update Group */
.get_update > .get_update_group {
  background-color: #FFF4D6;
	padding: 5rem 3rem;
	display: flex;
	justify-content: center;
}

/* Get Update Input */
.get_update_group > .get_update_input {
  background-color: #D9D9D9;
	padding: 1rem;
	border: 0;
	border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
	outline: none;
	font-size: 1.2rem;
	min-width: 19.5rem;
}

/* Get Update Button */
.get_update_group > .get_update_button  {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
	min-width: 11rem;
}


/*** Footer Section ***/
footer {
	background-color: #0B0D17;
	padding: 2rem 0;
	text-align: center;
}

/* Footer Title */
.footer > .footer_title {
	color: #FF5959;
	margin: 1rem 0;
	font-size: 3rem;
	font-family: 'Lobster', cursive;
}

/* Footer Message */
.footer > .footer_message {
	color: #fff;
	margin: 1rem 0;
	font-size: 1.5rem;
}